[alias]
	ci = commit -m
	st = status -s
	di = diff --color --color-words --abbrev
	co = checkout
[color]
	ui = always
[core]
	editor = vim
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[user]
	name = Alexandrine Boissière
	email = theasta@gmail.com
[branch]
	autosetuprebase = always
[push]
	default = current
